.item
  .image
    = cl_image_tag item.item.front_image_url || 'image.png', class: 'ui image'
  .content
    %h3 #{item.item.name}
    .description
      %p= item.item.description
    .ui.form
      = form_for :cart, url: add_cart_item_path do |f|
        = f.hidden_field :card_id, value: item.item.id
        .fields.two
          .field
            = f.label :quantity
            = select_tag :quantity, options_for_select(1..item.item.available, item.quantity), { class: 'ui dropdown card-quantity fluid', name: 'cart[quantity]' }
          .field
            = f.label :price
            $#{item.price}
        .field
          = link_to remove_cart_item_path(cart: { cart_item_id: item.item.id }), method: :delete, class: 'ui', data: { confirm: 'Are you sure?' } do |c|
            Remove