- unless @cart.empty?
  #paypal-button
:javascript
  $(document).ready(function(){
  
    paypal.Button.render({

      env: 'production', // Or 'sandbox'

      client: {
        sandbox:    'Aai37sg-QQp5uhYA2QAYiVY_BLmp5vyPbGbc9smrrNwU8A_WTYixEWXprtDFEBk1PApgvZJ_eaqPqYGM',
        production: 'AWTo_RyTagWjrOdihBZlOd1h5m0NPxYgx-DxvoAu4gnEsyR0W4HNJnZqrf8keDaoZRdrIkAoSyWKRsAu'
      },

      commit: true, // Show a 'Pay Now' button

      payment: function(data, actions) {
        return actions.payment.create({
          payment: {
            transactions: [
              {
                amount: { 
                  total: #{@cart.total}, 
                  currency: 'USD',
                  details: {
                    subtotal: #{@cart.subtotal},
                    tax: #{@cart.taxes},
                    shipping: #{@cart.shipping_cost}
                  }
                },
                item_list: { 
                  items: #{raw @cart.paypal_items}
                }
              }
            ]
          }
        });
      },

      onAuthorize: function(data, actions) {
        return actions.payment.execute().then(function(payment) {

          console.log(payment);
              
          $.ajax({
            type: "POST",
            url: "#{purchase_path}",
            data: { cart: { cart_id: #{@cart.id} } },
            success: function(){
              console.log("BOOM!")
            }
          });
          
        });
      }

    }, '#paypal-button');
  
  });
