.ui.form
  = form_for(:cart, url: "/cart/update", method: "post") do |f|
    %h3.header Shipping To
      
    .two.fields
      .field
        %label State
        = select_tag 'cart[state]', options_for_select(us_states, @cart.state), id: 'shipping_state'
         

    .ui.divider

    
    %h3.header Shipping Options
    
    = flash[:notice]
    
    = f.hidden_field :cart_id, value: @cart.id
    = f.hidden_field :country, value: 'US'
    
    - @shipping_options.each do |shipping|
      .field
        .ui.radio.checkbox
          - if @cart.shipping_option_id == shipping.id
            %input.hidden{:name => "cart[shipping_option_id]", :type => "radio", value: shipping.id, checked: true}
          - else
            %input.hidden{:name => "cart[shipping_option_id]", :type => "radio", value: shipping.id}
          %label #{shipping.name} #{number_to_currency(shipping.price.to_f / 100)}