.ui.form
  = form_for(:cart, url: "/cart/update", method: "post") do |f|
    = flash[:notice]
    
    = f.hidden_field :cart_id, value: @cart.id
    = f.hidden_field :country, value: 'US'
    
    /- if @cart.zip_code_set?
    /  %b Shipping To: #{@cart.country} #{@cart.zip_code}
    /  = f.hidden_field :zip_code, value: @cart.zip_code
    /  %button.ui.button.inline.small{ onclick: '$("#cart_zip_code").val("");' } Change
    /- else
    /  %p To get shipping information and estimated delivery times, please specify your location.
    /  = f.label :zip_code, 'Zip/Postal Code:'
    /  = f.text_field :zip_code
    /  = f.submit 'Get Shipping Rates', class: 'ui button blue'

      
    - @shipping_options.each do |shipping|
      .field
        .ui.radio.checkbox
          - if @cart.shipping_option_id == shipping.id
            %input.hidden{:name => "cart[shipping_option_id]", :type => "radio", value: shipping.id, checked: true}
          - else
            %input.hidden{:name => "cart[shipping_option_id]", :type => "radio", value: shipping.id}
          %label #{shipping.name} #{number_to_currency(shipping.price.to_f / 100)}