%h1.header Shopping Cart
.ui.divided.items
  - @cart.cart_items.each do |item|
    = render 'cart_item', item: item    

- if @cart.cart_items.empty?
  %h3.ui.header Your Shopping Cart Is Empty.
  = link_to 'Go To Marketplace', marketplace_path, class: 'ui button blue'
- else

  .ui.divider
  
  %h3.header Shipping Options
  = render 'shipping_options'
  
  .ui.divider
  
  %h3.header.ui Order Summary
  
  %div Items (#{@cart.total_unique_items}): $#{@cart.subtotal}
  %div Shipping & Handling: $#{@cart.shipping_cost} 
  %div Estimated tax to be collected: $#{@cart.taxes} 
  
  %h3.header.ui.red Total (#{@cart.total_unique_items} items): $#{@cart.total} 
  
  
  /- if @cart.zip_code_set?
  .ui.form
    .fields
      .field
        = render 'stripe_form'
      .field
        = render 'paypal_form'
  
:javascript
  $(document).ready(function(){
  
    $('.card-quantity').change(function() {
        this.form.submit();
    });
    
    $(".dropdown").dropdown();
    $(".checkbox").checkbox().checkbox({
      onChange: function(){
        this.form.submit();
      }
    });
    
  });