- @carts.each do |cart|
  %h1.header Order On #{cart.updated_at.strftime('%D')}
  - cart.cart_items.each do |item|
    %h3.header #{item.item.name} (#{item.quantity}) $#{item.item.price}
    
  %p Total #{cart.total}