%h1.header Website Control

.ui.list
  = link_to 'Attributes', attributes_path, class: 'item'
  = link_to 'Players', players_path, class: 'item'
  = link_to 'Teams', teams_path, class: 'item'
  = link_to 'Card Manufacturers', card_manufacturers_path, class: 'item'
  = link_to 'Checklists', checklists_path, class: 'item'
  = link_to 'Pages', pages_path, class: 'item'