.ui.vertical.center.aligned.segment.masthead.inverted.meadmastr.banner
  .ui.text.container.front-padding
    = image_tag 'logo.png', class: 'ui image large centered'
    %h1.ui.inverted.header.huge
      EZ Kings Hokey Card Store
    %h3.ui.inverted.header The Best LA Kings Hokey Cards
    = link_to marketplace_path, class: 'ui huge primary button' do
      View Marketplace
      %i.right.arrow.icon
    

.ui.centered.grid
  .fourteen.wide.column
    .ui.text.container.front-padding
      %h2.ui.header.centered Latest Cards
    .ui.link.five.cards.doubling
      - @highlights_cards.each do |card|
        = render 'marketplace/card', card: card

.ui.text.container.front-padding
  = image_tag 'http://res.cloudinary.com/vipvex/image/upload/cnondmrg1hmwy0vtpswu', class: 'ui image medium floated right'

  %h2.ui.header Made for Player Collectors & Set Builders 
  %p Lorem Impsum 

        
.ui.text.container.front-padding
  = raw @content if @content

.ui.vertical.center.aligned.segment.inverted
  .ui.text.container.front-padding
    %h2.ui.header.centered.inverted The Easiest And Fasest Way To Order Cards Online
    = link_to "users/sign_up", class: 'ui large primary button' do
      Register
      %i.right.arrow.icon
    %br
    = link_to "Or Go To Marketplace", marketplace_path, class: 'ui', style: 'color: white; margin-top: 1em'

.ui.centered.grid
  .fourteen.wide.column
    .ui.text.container.front-padding
      %h2.ui.header.centered Marketplace Recently Added 
    .ui.link.five.cards.doubling
      - @recently_added_cards.each do |card|
        = render 'marketplace/card', card: card
    %br

.ui.vertical.center.aligned.segment.inverted
  .ui.text.container.front-padding
    = render 'mailchimp_subscribe'

.ui.text.container.front-padding
  %p.ui{ style: 'text-align: center' } © 2017 EZ Kings Card LLC, All Rights Reserved  
  