<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shipping_option.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @shipping_option.price %>
</p>

<p>
  <strong>Order:</strong>
  <%= @shipping_option.order %>
</p>

<%= link_to 'Edit', edit_shipping_option_path(@shipping_option) %> |
<%= link_to 'Back', shipping_options_path %>
