.ui.form
  = form_for(@card) do |f|
    - if @card.errors.any?
      #error_explanation
        %h2
          = pluralize(@card.errors.count, "error")
          prohibited this card from being saved:
        %ul
          - @card.errors.full_messages.each do |message|
            %li= message
    .field
      .field
        = f.label :name
        = f.text_field :name   
      .four.fields
        .field
          = f.label :price
          = f.number_field :price
        .field
          = f.label :year
          = f.number_field :year
        .field
          = f.label :available
          = f.number_field :available
        .field
          = f.label :sku
          = f.text_field :sku
        .field
          = f.label :serial_number
          = f.text_field :serial_number
    .field
      .two.fields
        .field
          = f.label :front_image_url
          = f.hidden_field :front_image_url
          = cl_image_upload_tag(:front_image)
          #front-image-preview
        .field
          = f.label :back_image_url
          = f.hidden_field :back_image_url
          = cl_image_upload_tag(:back_image)
          #back-image-preview
        
    .field
      = f.label :description
      = f.text_area :description
      
    .two.fields
      .field
        %h5 Attributes
        = select_tag 'card[c_attribute_ids]', options_for_select( @attributes.map { |a| [a.name, a.id] }, @card.card_attributes.map { |c| c.attribute_id } ), :class => 'ui fluid dropdown', :multiple => true
        %h5 Players
        = select_tag 'card[player_ids]', options_for_select( @players.map { |p| [p.name, p.id] }, @card.card_players.map { |c| c.player_id } ), :class => 'ui fluid dropdown', :multiple => true
      .field
        %h5 Teams
        = select_tag 'card[team_ids]', options_for_select( @teams.map { |p| [p.name, p.id] }, @card.card_teams.map { |c| c.team_id } ), :class => 'ui fluid dropdown', :multiple => true
        %h5 Card Manufactureres
        = select_tag 'card[card_manufacturer_ids]', options_for_select( @card_manufacturers.map { |m| [m.name, m.id] }, @card.card_manufacturer_cards.map { |c| c.card_manufacturer_id } ), :class => 'ui fluid dropdown', :multiple => true

    .actions
      = f.submit 'Submit', class: 'ui button green'
  
  
#{cloudinary_js_config}
:javascript
  $(document).ready( function() {
    $('.ui.dropdown').dropdown();

    if($.fn.cloudinary_fileupload !== undefined) {
      $("input.cloudinary-fileupload[type=file]").cloudinary_fileupload();
    }
  
    $("input[data-cloudinary-field=front_image]").bind('cloudinarydone', function(e, data) {  
      $('#front-image-preview').html(
        $.cloudinary.image(data.result.public_id, 
          { format: data.result.format, version: data.result.version, 
            crop: 'fit', width: 150, height: 100 })
      );    
      $("#card_front_image_url").val(data.result.public_id);    
      return true;
    });
    
    $("input[data-cloudinary-field=back_image]").bind('cloudinarydone', function(e, data) {  
      $('#back-image-preview').html(
        $.cloudinary.image(data.result.public_id, 
          { format: data.result.format, version: data.result.version, 
            crop: 'scale', width: 50 })
      );    
      $("#card_back_image_url").val(data.result.public_id);    
      return true;
    });
    
    $('.cloudinary-fileupload').bind('fileuploadprogress', function(e, data) { 
      $('.progress_bar').css('width', Math.round((data.loaded * 100.0) / data.total) + '%'); 
    });
    
  });

