<p id="notice"><%= notice %></p>

<h1>Listing Cards</h1>

<%= link_to 'Attributes', attributes_path %>
<%= link_to 'Card Manifacturer', card_manufacturers_path %>
<%= link_to 'Team', teams_path %>
<%= link_to 'Player', players_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Year</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.name %></td>
        <td><%= card.year %></td>
        <td><%= card.description %></td>
        <td><%= card.price %></td>
        <td><%= link_to 'Show', card %></td>
        <td><%= link_to 'Edit', edit_card_path(card) %></td>
        <td><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Card', new_card_path %>
