- breadcrumb :card, @card
.ui.grid.stackable
  .eight.wide.column
    .ui.shape.attached
      .sides
        .active.side
          .ui.image
            = cl_image_tag @card.front_image_url || 'image.png', class: 'ui image'
        .side
          .ui.image
            = cl_image_tag @card.back_image_url || 'image.png', class: 'ui image'
    .ui.one.bottom.attached.buttons
      .ui.button.flip
        %i.exchange.icon
        Flip

  .eight.wide.column
    %h1.ui.header= @card.name
    %p= @card.description
    
    .ui.form
      = form_for :cart, url: add_cart_item_path do |f|
        = f.hidden_field :card_id, value: @card.id
        .fields.two
          .field
            = f.label :quantity
            = select_tag :quantity, options_for_select(1..@card.available, 1), { class: 'ui dropdown fluid', id: 'card-quantity', name: 'cart[quantity]' } if @card.available?
          .field
            = f.label :price
            $#{@card.price}

        .field
          = f.submit 'Add To Cart', class: "ui large fluid button blue #{'disabled' unless @card.available?}", id: "add-to-cart"

:javascript
  $(document).ready(function(){
    $('.shape').shape();
    
    
    $('.image').each(function( index, image ) {
      $(image).zoom();
    });
    
    $('.ui.dropdown').dropdown();
    
  });
  
  $(".flip").click(function(){
    $('.shape').shape('flip back');
    $('.image').zoom();
  });
  