.ui.grid
  .eight.wide.column
    .ui.shape
      .sides
        .active.side
          .ui.image
            = image_tag @card.front_image_url, class: 'ui medium image'
            %a.ui.blue.right.ribbon.label
              %i.exchange.icon
              Flip
            %a.ui.blue.right.ribbon.label
              %i.exchange.icon
              Zoom
        .side
          .ui.image
            = image_tag @card.back_image_url, class: 'ui medium image'
            %a.ui.blue.right.ribbon.label
              %i.exchange.icon
              Flip

  .eight.wide.column
    %h1.ui.header= @card.name
    %p= @card.description
    
    .ui.form
      = form_for '/new' do |f|
        .field
          .two.fields
            .field
              = f.select :quantity, options_for_select(0..@card.available)
            .field
              = f.submit 'Add To Cart', class: 'ui button blue' 

:javascript
  $(document).ready(function(){
    $('.shape').shape();
    $('.medium .image').zoom();
  });
  
  $(".ribbon").click(function(){
    $('.shape').shape('flip back');
  });