.ui.form
  = form_for(@checklist) do |f|
    - if @checklist.errors.any?
      #error_explanation
        %h2
          = pluralize(@checklist.errors.count, "error")
          prohibited this checklist from being saved:
        %ul
          - @checklist.errors.full_messages.each do |message|
            %li= message
    .field
      = f.label :name
      = f.text_field :name
    .field
      = f.label :url
      = f.text_field :url
    .field
      = f.label :order
      = f.number_field :order
    .field
      = f.label :content
      = f.text_area :content
    .actions
      = f.submit


:javascript
  var simplemde = new SimpleMDE({
  	showIcons: ["code", "table"],
  
    insertTexts: {
  		horizontalRule: ["", "\n\n-----\n\n"],
  		image: ["![](http://", ")"],
  		link: ["[", "](http://)"],
  		table: ["", "\n\n| Column 1 | Column 2 | Column 3 |\n| -------- | -------- | -------- |\n| Text     | Text      | Text     |\n\n"],
  	}
  });