<p id="notice"><%= notice %></p>

<h1>Listing Card Manufacturer Cards</h1>

<table>
  <thead>
    <tr>
      <th>Card</th>
      <th>Card manufacturer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @card_manufacturer_cards.each do |card_manufacturer_card| %>
      <tr>
        <td><%= card_manufacturer_card.card %></td>
        <td><%= card_manufacturer_card.card_manufacturer %></td>
        <td><%= link_to 'Show', card_manufacturer_card %></td>
        <td><%= link_to 'Edit', edit_card_manufacturer_card_path(card_manufacturer_card) %></td>
        <td><%= link_to 'Destroy', card_manufacturer_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Card manufacturer card', new_card_manufacturer_card_path %>
