.card
  =link_to card, class: 'image' do |c|
    = image_tag 'card_placeholder.jpg', class: 'ui small image'
  .content
    .header= card.name
    .meta
      %a New | #{card.available} Available
    %span.right.floated
      = card.year
    %span
      %i.cost.icon
      $#{card.price}
  .extra.content
    .ui.two.buttons
      = link_to card, class: 'ui basic blue button' do |c|
        View
      = link_to add_cart_item_path(card_id: card.id), method: :post, class: 'ui basic green button' do |c|
        Buy
      