= link_to card, class: 'ui card' do |c|
  = cl_image_tag card.front_image_url, alt: card.name, title: card.description, class: 'ui image' if card.front_image_url
  = image_tag 'card_placeholder.jpg', class: 'ui image' unless card.front_image_url
  .content
    %p
      #{card.name}
      - unless card.c_attributes.where(name: 'Rookie').empty?
        %span.ui.label.yellow.mini= "RK"
    %strong #{card.player_name} #{card.serial_number}

    .ui.centered
      %span{ style: 'font-weight: bold; color: #662d91;' } $#{card.price} 
      %span (#{card.available} Available)