.card
  =link_to card, class: 'image' do |c|
    = image_tag 'card_placeholder.jpg', class: 'ui small image'
  .content
    .header= card.name
    .meta
      %span.right.floated.time #{card.year}
      %span.category #{card.teams.first.name}
  .ui.two.bottom.attached.buttons
    = link_to card, class: 'ui button' do |c|
      %i.unhide.icon
      View
    = link_to add_cart_item_path(card_id: card.id), method: :post, class: 'ui primary button' do |c|
      %i.add.icon
      Buy $#{card.price}