.ui.relaxed.divided.list.celled
  - @view_cards.each do |card|
    .item
      = link_to card do |f|
        .right.floated.content
          %h4.header $#{card.price} | #{card.available} available
          .ui.button.blue Add To Cart
        .left.floated.content
          = cl_image_tag card.front_image_url, alt: @card.name, title: @card.description, class: 'ui image small' if card.back_image_url
          = image_tag 'card_placeholder.jpg', alt: @card.name, title: @card.description, class: 'ui image small' unless card.back_image_url
        .content
          %h3.header= card.name
          %p.description= card.description
          
