.ui
  %form.ui.form
    .ui.search
      .fields
        .ten.wide.field
          .ui.icon.input.fluid
            %input.prompt#search-text{:placeholder => "Search...", :type => "text", :value => @search_params[:search_text]}/
            %i.search.icon
        .six.wide.field
          %button.ui.button.fluid.blue#search-button Search!
  %h5 Attributes
  .resortable-attributes
    - @attributes.each do |attribute|
      - checked = @search_params[:attribute_ids] && @search_params[:attribute_ids].include?(attribute.id.to_s)
      - count = attribute.card_attributes.where(card_id: @cards.pluck(:id)).count
      .inline.field.attributes.resortable-item{ value: count }
        .ui.checkbox{ value: attribute.id, class: ('checked' if checked) }
          - if checked
            %input{:type => "checkbox", :checked => "checked" }
          - else
            %input{:type => "checkbox" }
          %label #{attribute.name} (#{count})
  %h5 Players
  .resortable-players
    - @players.each do |player|
      - checked = @search_params[:player_ids] && @search_params[:player_ids].include?(player.id.to_s)
      - count = player.card_players.where(card_id: @cards.pluck(:id)).count
      .inline.field.players.resortable-item{ value: count }
        .ui.checkbox{ value: player.id, class: ('checked' if checked) }
          - if checked
            %input{:type => "checkbox", :checked => "checked" }
          - else
            %input{:type => "checkbox" }
          %label #{player.name} (#{count})
  %a#show-more-players{ href: '#', onclick: 'showMore("players"); return false;' } Show More
  %a#show-less-players{ href: '#', onclick: 'showLess("players"); return false;' } Show Less
  
  %h5 Teams
  .resortable-teams
    - @teams.each do |team|
      - checked = @search_params[:team_ids] && @search_params[:team_ids].include?(team.id.to_s)
      - count = team.card_teams.where(card_id: @cards.pluck(:id)).count
      .inline.field.teams.resortable-item{ value: count }
        .ui.checkbox{ value: team.id, class: ('checked' if checked) }
          - if checked
            %input{:type => "checkbox", :checked => "checked" }
          - else
            %input{:type => "checkbox" }
          %label #{team.name} (#{count})
  %a#show-more-teams{ href: '#', onclick: 'showMore("teams"); return false;' } Show More
  %a#show-less-teams{ href: '#', onclick: 'showLess("teams"); return false;' } Show Less
  %h5 Manufactureres
  .resortable-manufacturers
    - @card_manufacturers.each do |card_manufacturer|
      - checked = @search_params[:card_manufacturer_ids] && @search_params[:card_manufacturer_ids].include?(card_manufacturer.id.to_s)
      - count = card_manufacturer.card_manufacturer_cards.where(card_id: @cards.pluck(:id)).count
      .inline.field.card-manufacturers.resortable-item{ value: count }
        .ui.checkbox{ value: card_manufacturer.id, class: ('checked' if checked) }
          - if checked
            %input{:type => "checkbox", :checked => "checked" }
          - else
            %input{:type => "checkbox" }
          %label #{card_manufacturer.name} (#{count})
  %h5 Seasons
  .resortable-seasons
    - @seasons.each do |season|
      - checked = @search_params[:seasons] && @search_params[:seasons].include?(season.to_s)
      - count = @cards.where(year: season).count
      /.resortable-item{ value: count }
      .inline.field.seasons
        .ui.checkbox{ value: season, class: ('checked' if checked) }
          - if checked
            %input{:type => "checkbox", :checked => "checked" }
          - else
            %input{:type => "checkbox" }
          %label #{season}-#{(season + 1)} (#{count})
  %h5 Sold
  - @available_options.each do |available_option|
    - checked = @search_params[:available_options] && @search_params[:available_options].include?(available_option.to_s)
    .inline.field.available-options
      .ui.radio.checkbox{ value: available_option, class: ('checked' if checked) }
        - if checked
          %input{:type => "radio", :name => "available-options", :checked => "checked" }
        - else
          %input{:type => "radio", :name => "available-options" }
        %label #{available_option.humanize}
        
  %h5 Price #{@search_params[:price]}
  .ui.form
    .field
      .three.fields
        .field
          = number_field_tag 'price_min', @search_params[:price_min], placeholder: 'min', id: 'price-min'
        .field
          = number_field_tag 'price_max', @search_params[:price_max], placeholder: 'max', id: 'price-max'
        .field
          .ui.button.blue.fluid#price-search Search