.ui.grid.stackable
  
  .four.wide.column
    = render 'search_sidebar'
  
  .twelve.wide.column
    .ui.marketplace
      
      = render 'filter_options'

      .sixteen.wide.column
      = render 'cards_list' if @search_params[:view_options] == "list" 
      = render 'cards_thumb' if @search_params[:view_options] == "thumb"
      = render 'cards_table' if @search_params[:view_options] == "text"
      = render 'cards_details' if @search_params[:view_options] == "details"
      
      
      .ui.two.column.centered
        .digg_pagination
          = will_paginate @view_cards
        
        
          
:javascript
  $(document).ready(function(){
    $('.attributes > .checkbox, .players > .checkbox, .teams > .checkbox, .card-manufacturers > .checkbox, .seasons > .checkbox, .available-options > .checkbox').checkbox().checkbox({
      onChange: searchMarketplace
    });
    
    $("#search-button").click(searchMarketplace);
    $("#price-search").click(searchMarketplace);
    $("#sort-options").change(searchMarketplace);
    $("#view-options").change(searchMarketplace);
    $("#per-page-options").change(searchMarketplace);
    $('.ui.dropdown').dropdown();
    
    $("#search-text").on('keyup', function (e) {
        if (e.keyCode == 13) {
            searchMarketplace();
        }
    });
    
    sortItems(".resortable-attributes")
    sortItems(".resortable-players")
    sortItems(".resortable-teams")
    sortItems(".resortable-manufacturers")
    sortItems(".resortable-seasons")
    showLess();

  });
  
  function showMore(){
      
    var listChildren = $(".players").show();
    
    $("#show-more").hide();
    $("#show-less").show();
  }
  
  function showLess() {
    var showCount = 5; 
    var listChildren = $(".players");
    listChildren.hide();
    
    for(var a = 0; a < showCount; a++){
      $(listChildren[a]).show();
    }
    
    $("#show-less").hide();
    $("#show-more").show();
  }
  
  
  function sortItems(parent){
    var searchFields = $(parent);
    var items = searchFields.children(".resortable-item");
    
    items.sort(function(a, b){
      return parseInt($(b).attr("value")) > parseInt($(a).attr("value")) ? 1 : -1;  
    });
    
    searchFields.append(items);
  }
  
  function searchMarketplace(){
    
    var card_attribute_ids = $.map($(".attributes > .checked"), function(check) { return $(check).attr("value") } );
    var card_player_ids = $.map($(".players > .checked"), function(check) { return $(check).attr("value") } );
    var card_team_ids = $.map($(".teams > .checked"), function(check) { return $(check).attr("value") } );
    var card_manufacturer_ids = $.map($(".card-manufacturers > .checked"), function(check) { return $(check).attr("value") } );
    var seasons = $.map($(".seasons > .checked"), function(check) { return $(check).attr("value") } );
    var available_options = $.map($(".available-options > .checked"), function(check) { return $(check).attr("value") } )[0];
    var price_min = $("#price-min").val();
    var price_max = $("#price-max").val();
    
    var search_text = $("#search-text").val();
    var sort_options = $("#sort-options").val();
    var view_options = $("#view-options").val();
    var per_page_options = $("#per-page-options").val();
    

    var params = jQuery.param( { search: { search_text: search_text, sort_options: sort_options, view_options: view_options, per_page_options: per_page_options, attribute_ids: card_attribute_ids, player_ids: card_player_ids, team_ids: card_team_ids, card_manufacturer_ids: card_manufacturer_ids, seasons: seasons, available_options: available_options, price_min: price_min, price_max: price_max } });
  
   
    window.location.href = "#{marketplace_search_path}" + "?" + params;
    
  }