.ui.menu.stackable.pointing
  .ui.container
    %a.item.nav-logo{:href => marketplace_path}
      = image_tag 'ez_shield.png'
    = link_to home_path, class: 'ui item link' do |f|
      %i.home.icon
      Home
    = link_to marketplace_path, class: 'ui item link' do |f|
      %i.grid.layout.icon
      Marketplace
    .ui.dropdown.simple.item
      More
      %i.dropdown.icon
      .menu
        - Page.shown.order(:order).each do |page|
          = link_to(page.name, "/#{page.url}", class: 'item')
        = link_to('Contact Us', contact_us_path, class: 'item')
    .ui.dropdown.simple.item
      Checklists
      %i.dropdown.icon
      .menu
        - Checklist.order(:order).all.each do |p|
          = link_to(p.name, "/checklists/#{p.url}", class: 'item')
    
    - if current_user && current_user.admin?
      = link_to control_path, class: 'ui item link' do |f|
        %i.grid.layout.icon
        Conrol Center
            
    - if current_user
      .ui.dropdown.simple.right.item
        = current_user.email
        %i.dropdown.icon
        .menu
          = link_to 'My Orders', orders_path, class: 'item'
          %a.item{:href => "#"} Setting
          = link_to('Logout', destroy_user_session_path, method: :delete, class: 'item')
    - else
      .right.menu
        .item
          = link_to('Log-in', new_user_session_path, class: 'ui primary button')
    .ui.item
      = link_to current_user ? cart_path : new_user_session_path do
        %i.icon.shop
        Cart (#{current_user ? current_user.cart.cart_items.count : 0})
        
        
          